<center><img src="https://i2.wp.com/hackwagon.com/wp-content/uploads/2017/02/Logo-Web-Export.png?ssl=1" width=200/></center>
<h1> Hackwagon Academy DS102 Lesson 1B </h1>
<h2> Pandas (Part 1)</h2> 
<h3> Lesson Outline </h3>

- [Pandas](#Pandas)
- 1. [Series & DataFrame](#1)
    - 1.1 [Series](#1.1)
        - 1.1.1 [Creation](#1.1.1)
        - 1.1.2 [Indexing/Selection](#1.1.2)
    - 1.2 [DataFrame](#1.2)
        - 1.2.1 [Creation](#1.2.1)
        - 1.2.2 [Indexing/Selection](#1.2.2)
    - 1.3 [Manipulation](#1.3)
        - 1.3.1 [Mathematical](#1.3.1)
        - 1.3.2 [New/Renew Columns](#1.3.2)
        - 1.3.3 [Sorting](#1.3.3)
    - 1.4 [Descriptive Statistics](#1.4)
- 2. [Merging Datasets](#2)
    - 2.1 [.concat()](#2.1)
    - [Practice I](#P1)
- 3. [Filtering](#3)
    - 3.1 [Boolean Array](#3.1)
    - 3.2 [.isin()](#3.2)
    - [Practice II](#P2)
- 4. [Data Cleaning - Handling Missing Values](#4)
    - 4.1 [.isnull()](#4.1)
    - 4.2 [.dropna()](#4.2)
    - 4.3 [.fillna()](#4.3)
    - [Practice III](#P3)

<hr/>

<a id='1'><h2><img src="https://images.vexels.com/media/users/3/153978/isolated/preview/483ef8b10a46e28d02293a31570c8c56-warning-sign-colored-stroke-icon-by-vexels.png" width=23 align="left"><font color="salmon">&nbsp;</font><font color="salmon"> Pandas </font> </h2></a>

Pandas is an enhanced version of the NumPy structured arrays in which the rows and columns are identified with labels, rather than simple integer indices. As such Pandas can be summarised in the following manner:

<img src="https://i.imgur.com/39x4BDw.png" width=600>

In [ ]:
import pandas as pd
import numpy as np


<a id='1'><h2><img src="https://images.vexels.com/media/users/3/153978/isolated/preview/483ef8b10a46e28d02293a31570c8c56-warning-sign-colored-stroke-icon-by-vexels.png" width=23 align="left"><font color="salmon">&nbsp;1.</font><font color="salmon"> Series & DataFrame </font> </h2></a>

<a id='1.1'><h3>1.1 Series</h3></a>

The Pandas Series is a one-dimensional array of indexed data. It can be created from a list or array. Think of them like a more versatile versions of lists.

<a id='1.1.1'><h3>1.1.1 Creation</h3></a>

### Lists

In [ ]:
counts = [10, 20, 30]

### Dictionary

In [ ]:
fruit_counts = {"Apple": 10, 
                "Banana": 20, 
                "Cherries": 30}

<a id='1.1.2'><h3>1.1.2 Indexing/Selecting</h3></a>

Just select accessing a list, you can use the `[]` to access base on its index.

<a id='1.2'><h3>1.2 DataFrame</h3></a>

Think of DataFrames like overpowered Dictionaries with many powerful functionalities.

<a id='1.2.1'><h3>1.2.1 Creation</h3></a>

### Python Collections

In [ ]:
data = [
    # column 1       column 2   column 3
    {'name': 'Alex', 'age': 20, 'salary': 1050},  #row 1
    {'name': 'Bob', 'age': 52, 'salary': 1400}, #row 2
    {'name': 'Cat', 'age': 23, 'salary': 1690} #row 3
]

### Datasets

To manipulate data as a `DataFrame`, use `pd.read_csv()` to read the CSV file into a `DataFrame`. Refer to the documentation [here](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html#pandas.read_csv). For the next few examples, we will be using the `HWAPandasSandbox.csv` dataset, as `feedback_df`.

<a id='1.2.2'><h3>1.2.2 Indexing/Selecting</h3></a>

DataFrames are many Series stacked on top of another. Again, similar to how you use keys in dictionaries, you can just select the columns by their names (case sensitive).

#### One Column

By acccessing just one column/row, you get a <b>Series</b>.

#### Multiple Columns

By acccessing just more than one column/row, you get a <b>DataFrame</b>.

To select multiple columns, use a list instead which also allows you to reorganise the column orders.

In [ ]:
columns_to_select = ['ClassType', 'Instructor', 'Coordinating_TA']

#### Row Wise Selection

To select row wise, use `.iloc[]` meaning Integer Locate where it selects by the row number (index).

If you want to select by a non numeric index, use `.loc[]`

<a id='1.3'><h3>1.3 Manipulation</h3></a>

Similar to how Numpy arrays can be manipulated for different results, DataFrames can also be manipulated in the same way.

<a id='1.3.1'><h3>1.3.1 Mathematical</h3></a>

Since Pandas is built to integrate with Numpy, you can notice the similiarities here. We can extract a Series and use mathematical operators on them.

#### More than one column

We can use two or more columns to do mathematical operations.

<a id='1.3.2'><h3>1.3.2 Creating New/Renewing Columns</h3></a>

We can also create new columns to the DataFrame.

```python
    dataframe_to_update['new column name'] = new_series
```

<a id='1.3.3'><h3>1.3.3 Sorting</h3></a>

We can also sort by a particular column using the `.sort_values()`. Inside this method, the `by=` argument allows you to pick the column(s) you want to sort by; the `ascending=` argument allows you to choose whether to have it in ascending or descending order.

<a id='1.1'><h3>1.4 Descriptive Statistics</h3></a>

`Dataframes` and `Series` objects have many useful methods to help you compute statistics.

<table>
  <tr>
    <th>Statistical measure</th>
    <th>Dataframe method</th>
    <th>Series method</th>
    <th>Description</th>
  </tr>
  <tr>
    <td>Mean</td>
    <td>df.mean()</td>
    <td>df['column_name'].mean()</td>
    <td>Returns the mean of all columns / the selected column</td>
  </tr>
  <tr>
    <td>Median</td>
    <td>df.median()</td>
    <td>df['column_name'].median()</td>
    <td>Returns the median of all columns / the selected column</td>
  </tr>
  <tr>
    <td>Standard Deviation</td>
    <td>df.std()</td>
    <td>df['column_name'].std()</td>
    <td>Returns the standard deviation of all columns / the selected column</td>
  </tr>
  <tr>
    <td>Sum</td>
    <td>df.sum()</td>
    <td>df['column_name'].std()</td>
    <td>Returns the sum of all columns / the selected column</td>
  </tr>
  <tr>
    <td>...</td>
    <td>...</td>
    <td>...</td>
    <td>...</td>
  </tr>
</table>

The `.describe()` is able to provide the five-number-summary of the entire dataset.

<a id='2'><h2><img src="https://images.vexels.com/media/users/3/153978/isolated/preview/483ef8b10a46e28d02293a31570c8c56-warning-sign-colored-stroke-icon-by-vexels.png" width=23 align="left"><font color="salmon">&nbsp;2.</font><font color="salmon"> Merging Datasets </font> </h2></a>

During the course of DS102, you might want to merge several datasets together in order to make your analysis more wellrounded. Pandas provides you with methods to merge datasets together. One of the most common ways is `.concat()`.

<a id='2.1'><h3>2.1 <code>.concat()</code></h3></a>

By using concat, we can merge two dataframes together to give us a bigger dataframe, using `pd.concat()`.

```python
    pd.concat([df1, df2 ...])
```

In [ ]:
feedback_1 = pd.read_csv('HWAPandasSandbox.csv')
feedback_2 = pd.read_csv('HWAPandasSandbox.csv')

<a id='P1'><h2> <img src="https://cdn.shopify.com/s/files/1/1200/7374/products/book_aec28e76-52ec-44ab-bc01-41df1279c89f_550x825.png?v=1473897430" width=25 align="left"> <font color="darkorange"> &nbsp; Practice I </font><font color="skyblue"> * </font></h2></a>

### Wines Dataset

### Question 1 - Merge the two datasets and preview dataset

Read the dataset from `wines-1.csv` and `wines-2.csv` into `wines_1_df` and `wines_2_df` respective. Specify the `sep` parameter as the separator right now is no longer a comma.

Combine the two Dataframes as `all_wines_df` and preview it with `.head()`.

###  Question 2 - Create a new column that doubles the `points `

Create a new column called `doubled_points` which multiplies the `points` column by 2.

<b>Expected Output:</b>

<img src="https://i.imgur.com/us7oqHV.png">

###  Question 3 - Create a new column that converts the `price` to SGD 

Given SGD to USD conversion is 1 USD is 1.39 SGD, called `SGD($)`

<b>Expected Output:</b>

<img src="https://i.imgur.com/nfOPpdV.png">

###  Question 4 - Get the summary statistics of the `price` column

<b>Expected Output:</b>

    count    2718.000000
    mean       32.773731
    std        31.288298
    min         5.000000
    25%        16.000000
    50%        24.000000
    75%        40.000000
    max       500.000000
    Name: price, dtype: float64

###  Question 5 - Shift Columns

Shift the columns of the dataframe to the following:

<b>Expected Output:</b>

<img src="https://i.imgur.com/Egl9aQn.png">

<a id='3'><h2><img src="https://images.vexels.com/media/users/3/153978/isolated/preview/483ef8b10a46e28d02293a31570c8c56-warning-sign-colored-stroke-icon-by-vexels.png" width=23 align="left"><font color="salmon">&nbsp;3.</font><font color="salmon"> Filtering </font> </h2></a>

In [ ]:
feedback_df

<a id='3.1'><h3>3.1 Boolean Array</h3></a>


We can filter for results within a `DataFrame` to get the data we want. 

We specify the column we want to isolate in the DataFrame, then specify the boolean condition we are looking for. For example, we want to find the `Females` in the `Sex` column. 

```python
df['sex'] == 'Females'

# or for multiple conditions, we link them by & (and) or | (or) symbols
# where each condition is surrounded by a ()

(df['sex'] == 'Females') & (df['type_of_course'] == 'Medicine')

```

This gives us a Boolean array of multiple `True` and `False` values.

#### Using Boolean Arrays to Filter
By creating many of these Boolean Array allow you to stack them too as shown above

<b>Note the square brackets</b>

```python
   
    dataframe[<boolean array here> & <boolean array here>] 

```

We put this Boolean Series inside another `[]` to take out the data within the DataFrame. What this does is it only extracts the rows with the `True` value within the DataFrame. For example,

```python
df[df['sex'] == 'Females']

```
<div class="alert alert-success">
<b> It is important to note that this does not permanently alter or change the original DataFrame in any way. As 
such, all filtered data should be stored into another variable.</b>
</div>

In [ ]:
cond1 = feedback_df['ClassType'] ==  "DS101"
cond2 = feedback_df['Instructor'] ==  "Andre"

### Employees Dataset

Read the `employees-1k.csv` as `employees_df` and preview the dataset with `.head()`.

In [ ]:
employees_df = pd.read_csv('employees-1k.csv')

employees_df.head()

<a id='3.2'><h3>3.2 <code>.isin()</code></h3></a>

`.isin()` allows you to search for multiple values within a single column, instead of using a very long conditional. This method returns a Boolean array too.

Take the following as an example, where we're looking for only `OWN` and `RENT` in the dataset.

In [ ]:
cond1 = employees_df['home_ownership'].isin(['OWN', 'RENT'])

<a id='P2'><h2> <img src="https://cdn.shopify.com/s/files/1/1200/7374/products/book_aec28e76-52ec-44ab-bc01-41df1279c89f_550x825.png?v=1473897430" width=25 align="left"> <font color="darkorange"> &nbsp; Practice II </font><font color="skyblue"> * </font></h2></a>

### Question 1 - Get the total `annual_inc` for all employees who `OWN` homes

**Expected Output:**

    7156267.84

### Question 2 - Get the average income for all employees who `OWN` or `RENT` homes who earns an `annual_inc` between 50000 to 100000, both inclusive

**Expected Output:**

    68465.2265625

<a id='4'><h2><img src="https://images.vexels.com/media/users/3/153978/isolated/preview/483ef8b10a46e28d02293a31570c8c56-warning-sign-colored-stroke-icon-by-vexels.png" width=23 align="left"><font color="salmon">&nbsp;4.</font><font color="salmon"> Data Cleaning - Handling Missing Data</font> </h2></a>

Missing data is a common theme when preprocessing data. There are several ways to handle such scenarios and the choice is up to you to decide. For this section we will be using the Wines Dataset.

In [ ]:
all_wines_df = pd.read_csv('wines-3k.csv', sep='|') # sep for separater

<a id='4.1'><h3>4.1 <code>.isnull()</code></h3></a>

`isnull()` gives a Boolean Array/DataFrame that checks every single value if they are missing or not and returns a DataFrame of all True/False, where True means missing value is present.

The `.sum()` adds up all the True / False values, where 1 is True and 0 is False.

<a id='4.2'><h3>4.2 <code>.dropna()</code></h3></a>

Sometimes, it is better to drop these missing rows entirely rather than spending the time to understand why it's missing. `.dropna()` allows you to drop these rows/columns. The `axis=` argument allows you to drop column or row wise, 0 or 1.

<div class="alert alert-success">
<b> It is important to note that when you drop these rows/columns, the original dataframe doesn't change. It only returns you a new DataFrame with the dropped rows/columns.</b> This will be a recurring theme when you do data transformation.
</div>


To make sure that the changes is applied to the original dataframe, add the `inplace=` argument and set it as True.

<a id='4.3'><h3>4.3 <code>.fillna()</code></h3></a>

However, given this wine dataset, it dropping may not be the best idea too. Since price is a numeric value, we can fill up these values with zero, therefore retaining the rows, not losing out on the data. 

<div class="alert alert-success">
<b> It is important to note that when you change these rows/columns, the original dataframe doesn't change. It only returns you a new DataFrame with the changed rows/columns.</b> This will be a recurring theme when you do data transformation.
</div>



To make sure that the changes is applied to the original dataframe, add the `inplace=` argument and set it as True.

<a id='P3'><h2> <img src="https://cdn.shopify.com/s/files/1/1200/7374/products/book_aec28e76-52ec-44ab-bc01-41df1279c89f_550x825.png?v=1473897430" width=25 align="left"> <font color="darkorange"> &nbsp; Practice III </font><font color="skyblue"> * </font></h2></a>

### Employees Dataset

Read the `employees-1k.csv` dataset as `employees_df` and preview it with `.head()`.

### Question 1 - Find the number of empty values for each column

**Expected Output:**
    
    employee_id        0
    annual_inc         0
    employee_title    57
    home_ownership     0
    dtype: int64

### Question 2 - Fill empty values with a "Not Valid"