<img src="https://i2.wp.com/hackwagon.com/wp-content/uploads/2017/02/Logo-Web-Export.png?ssl=1" width=200/>

<h1>Hackwagon Academy DS102 - Problem Set 3</h1>
<hr>

This Problem Set consists of 20 questions, with each correct answer to be awarded 1 mark, totalling up to 20 marks.

If you have any questions to the Problem Set, feel free to send a message to your TAs or Instructors in the Telegram chat. You are encouraged to also discuss the problem sets within your own groups.

Attempt but minor syntax errors are awarded half the mark.

In [1]:
#Before you start, please perform the following 2 steps:
#1. Rename the file to FirstName_LastName Hackwagon Academy DS102 - Problem Set 3 e.g. John_Doe Hackwagon Academy DS102 - Problem Set 1

#2. Fill in your details here:
#Name                    : ____LENG WEI SHAO SEAN____

#Start of Course Class(Edit accordingly): __24 May 2020 7.00pm____

# FOR TA/INSTRUCTOR 
# Total Marks:  / 20

In [2]:
import warnings
warnings.filterwarnings('ignore')

#### Credits 

This problem set is inspired by the [Lending Club Loan Data](https://www.kaggle.com/wendykan/lending-club-loan-data).

<img src="https://d1ic4altzx8ueg.cloudfront.net/niche-builder/5cb94cef96518.png" width=300>

## Context 

LendingClub is a US peer-to-peer lending company, headquartered in San Francisco, California. It was the first peer-to-peer lender to register its offerings as securities with the Securities and Exchange Commission (SEC), and to offer loan trading on a secondary market. 

Your first project is to help LendingClub prepare a prediction model to help them detect loan defaulters. Having already conducted the sufficient exploratory data analysis, your project manager, Silver, wants you to to prepare several machine learning models. Using the dataset which you have preprocessed, `loans_transformed-200k.csv`, you will have to create both <b>supervised and unsupervised machine learning models</b>. Additionally, the `all_loan_desc.csv` dataset prepared for you to prepare a model on the loans descriptions. 

There are a total of 4 parts to this problem set:

1. Naive Bayes Classifier - 8 marks
2. K-Means Clustering - 7 marks
3. Decision Tree Classifier - 3 marks
4. Performance Measures - 2 marks

## Naive Bayes Classifier - 8 marks

Another team has prepared for you all of the descriptions within the loans dataset. This dataset has filtered for you rows with descriptions and the target variable the loan status. Your task is to clean it further and use <b>Naive Bayes Classification</b> technique to develop a model for detecting loan defaulters.

### Open Loans Decription File 

Open the file `all_loan_desc.csv` and store it as `all_desc_df`.

In [3]:
import pandas as pd

all_desc_df = pd.read_csv("all_loan_desc.csv")
all_desc_df.head()

                                                desc  loan_status
0                                                     Charged Off
1                                                      Fully Paid
2  I currently have a loan out with CashCall. The...   Fully Paid
3                                   Consolidate debt      Current
4  This loan will be used solely to consolidate c...   Fully Paid

### Q1. Integer Encoding

With the target variable `loan_status`, create a new column called `target`, where if the value contains the word `Charged Off`, `Status:Charged Off` or `Default`, it will be `1`; else it will be `0`. Afterwhich, reduce the dataframe to just the `desc` and `target` columns. 

**Expected Output:**

<img src="https://i.imgur.com/ztyxJh0.png">

In [4]:
def int_encode(input):
    return 1 if ("Charged" in str(input) or "Default" in str(input)) else 0

all_desc_df["target"] = all_desc_df["loan_status"].apply(int_encode)
all_desc_df2 = all_desc_df[["desc", "target"]]
all_desc_df2.head()

                                                desc  target
0                                                          1
1                                                          0
2  I currently have a loan out with CashCall. The...       0
3                                   Consolidate debt       0
4  This loan will be used solely to consolidate c...       0

In [5]:
## TA/INSTRUCTOR ONLY
## MARK AWARDED: /1

### Q2. Simple Cleaning

To ensure that your model is efficient, conduct simple cleaning on each description where the descriptions:

1. Only contains alphanumeric characters (<i>hint: use regular expression</i>)
2. Entirely lowercase
3. Without trailing or leading spaces 
4. Not empty strings (<i>hint: use filter</i>)

**Expected Output:**

<img src="https://i.imgur.com/pbLsgSa.png">

In [26]:
import re

notEmpty = all_desc_df2["desc"] != " "
all_desc_df2["desc"] = all_desc_df2["desc"].apply(lambda x: x.lower())
all_desc_df2["desc"] = all_desc_df2["desc"].apply(lambda x : re.sub(r'\W+', ' ', x))

new_desc_df = all_desc_df2[notEmpty]
new_desc_df.head()

                                                desc  target
2  i currently have a loan out with cashcall the ...       0
3                                   consolidate debt       0
4  this loan will be used solely to consolidate c...       0
5  i have recently purchased and built a new home...       0
6  temporary cash flow challenges would like this...       0

In [7]:
## TA/INSTRUCTOR ONLY
## MARK AWARDED: /1

### Q3. Tokenize and Stem Words

For simplicity and lower processing time, you decided to use `PorterStemmer` to stem each word. As such, you would need to reduce each description to their root form. 

Steps: 

1. With the `nltk` library, use `word_tokenize` to tokenize each description (a list of words)
2. Use the `PorterStemmer` to stem each word (using a for-loop). 
3. Join up the stemmed words as a string.

All steps above must be done <b>within the same function.</b> Your function should return a string.

Using the `apply()` method, create a new column called `desc_stem` to the `all_desc_df`. 

<b>Note: This part might take awhile to run (an average of 3 minutes).</b>

**Expected Output:**

<img src="https://i.imgur.com/XXDqd3i.png">

In [27]:
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer

stemmer = PorterStemmer()

desc_list = new_desc_df["desc"].tolist()
tokenized = []
stemmed = []
word_list = []

for i in desc_list:
    tokenized.append(word_tokenize(i))
    
for token in tokenized:
    stem_token = []
    for i in token:
        stem_token.append(stemmer.stem(i))
    stemmed.append(stem_token)

for i in stemmed:
    s = " "
    words = s.join(i)
    word_list.append(words)

new_desc_df["desc_stem"] = word_list
new_desc_df

,desc,target,desc_stem
2,i currently have a loan out with cashcall the ...,0,i current have a loan out with cashcal the int...
3,consolidate debt,0,consolid debt
4,this loan will be used solely to consolidate c...,0,thi loan will be use sole to consolid credit c...
5,i have recently purchased and built a new home...,0,i have recent purchas and built a new home tha...
6,temporary cash flow challenges would like this...,0,temporari cash flow challeng would like thi lo...
...,...,...,...
126062,i am getting married on july 28 and will need ...,0,i am get marri on juli 28 and will need anoth ...
126063,i would like to buy some new furniture in my a...,0,i would like to buy some new furnitur in my ap...
126064,i need to pay 2 100 for fixing my volvo any he...,0,i need to pay 2 100 for fix my volvo ani help ...
126065,hi i m buying a used car anybody on facebook w...,0,hi i m buy a use car anybodi on facebook want ...
126066,i need to make several improvements around the...,0,i need to make sever improv around the hous fi...

In [ ]:
## TA/INSTRUCTOR ONLY
## MARK AWARDED: /1

### Q4. Stop Words Removal

To keep only relevant words, you will remove all stopwords from each description by using the `stopwords` corpus to remove them. 

Steps: 

1. Create the list of stopwords in `english`
2. Tokenize the each description
3. Check for stopwords 
4. Join up non stopwords as a string

All steps, except step 1, must be done <b>within the same function.</b> Your function should return a string.

Using the `apply()` method, create a new column called `desc_no_stopwords` to the `all_desc_df`. 

<b>Note: This part might take awhile to run (an average of 2 minutes).</b>

**Expected Output:**

<img src="https://i.imgur.com/1fED4Uu.png">

In [43]:
from nltk.corpus import stopwords

STOP_WORDS = stopwords.words()

def newfunc(x):
    tokenized = []
    s = " "
    word = []
    
    tokenized.append(word_tokenize(x))
    
    for i in tokenized:
        for a in i:
            if a.lower() not in STOP_WORDS: 
                word.append(a)
    
    words = s.join(word)
    return words

new_desc_df["desc_cleaned"] = new_desc_df["desc_stem"].apply(newfunc)
new_desc_df

,desc,target,desc_stem,desc_cleaned
2,i currently have a loan out with cashcall the ...,0,i current have a loan out with cashcal the int...,current loan cashcal interest rate 96 time too...
3,consolidate debt,0,consolid debt,consolid debt
4,this loan will be used solely to consolidate c...,0,thi loan will be use sole to consolid credit c...,loan use sole consolid credit card debt accru ...
5,i have recently purchased and built a new home...,0,i have recent purchas and built a new home tha...,recent purchas built new home alway dream woul...
6,temporary cash flow challenges would like this...,0,temporari cash flow challeng would like thi lo...,temporari cash flow challeng would like loan o...
...,...,...,...,...
126062,i am getting married on july 28 and will need ...,0,i am get marri on juli 28 and will need anoth ...,get marri juli 28 need anoth 3 500 pay supplie...
126063,i would like to buy some new furniture in my a...,0,i would like to buy some new furnitur in my ap...,would like buy new furnitur apart tv
126064,i need to pay 2 100 for fixing my volvo any he...,0,i need to pay 2 100 for fix my volvo ani help ...,need pay 2 100 fix volvo ani help appreci
126065,hi i m buying a used car anybody on facebook w...,0,hi i m buy a use car anybodi on facebook want ...,hi buy use car anybodi facebook financ thank
126066,i need to make several improvements around the...,0,i need to make sever improv around the hous fi...,need make sever improv around hous fix garag f...

In [ ]:
## TA/INSTRUCTOR ONLY
## MARKS AWARDED: /1

### Q5. Train Test Split

Split your data up into training and testing sets using `sklearn.model_selection` with `train_test_split`, into 4 different variables, `x_train`, `x_test`, `y_train` and `y_test`, where: 

- <b>first</b> argument should be the `desc_cleaned` column but as a <b>DataFrame (2 square brackets)</b>
- <b>second</b> argument should <b>only</b> be the `target` column
- `random_state` is 0
- `test_size` is 0.2

In [72]:
from sklearn.model_selection import train_test_split

desc_cleaned = new_desc_df["desc_cleaned"]
target_col = new_desc_df["target"]

X_train, X_test, Y_train, Y_test = train_test_split(desc_cleaned, target_col, random_state=0, test_size=0.2)

In [ ]:
## TA/INSTRUCTOR ONLY
## MARKS AWARDED: /1

### Q6. Vectorizer

As you would be using the Naive Bayes Classifier, you would need to transform your description into a matrix of 1s and 0s. Use the `CountVectorizer` to transform your `desc_cleaned` into a matrix, called `desc_matrix`.

In [76]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
desc_matrix = vectorizer.fit_transform(X_train)

(125815, 25914)

In [ ]:
## TA/INSTRUCTOR ONLY
## MARKS AWARDED: /1

### Q7. Multinomial Naive Bayes Classifier 

Create a new `MultinomialNB` classifer and name it as `desc_classifier`, then `.fit()` the vectorized matrix, `desc_matrix` and `y_train`.

In [71]:
from sklearn.naive_bayes import MultinomialNB

desc_classifier = MultinomialNB()
desc_classifier.fit(desc_matrix, Y_train)

ValueError: Found input variables with inconsistent numbers of samples: [125815, 100652]

In [ ]:
## TA/INSTRUCTOR ONLY
## MARKS AWARDED: /1

### Q8. Confusion Matrix

Plot the confusion matrix for the Naive Bayes Classifier by:

1. Vectorizing (transform) the `x_test` of `desc_cleaned` 
2. Using `.predict` on the vectorized set from the to get the test results
3. Use `sns.heatmap` to create confusion matrix
4. Set `.ylim()` to (2,0)
5. Set `.xlim()` to (0,2)

**Expected Output:**

<img src="https://i.imgur.com/InjikTM.png">

In [ ]:
## TA/INSTRUCTOR ONLY
## MARKS AWARDED: /1

## K-Means Clustering - 7 marks

To discover more insights about the dataset, you decided to ran the K-means clustering algorithm to discover the different clusters that could form. 

### Open Loans Data (Non-Description) File

Open the `loans_transformed-200k.csv` as `all_loans_df`.

### Q9. Integer Encoding

Just as the above Integer Encoding question, create a new column called `target_int` where `Non Default` is `0` and `Default` is `1`. 

**Expected Output:**

<img src="https://i.imgur.com/D0VcNAs.png"/>

In [ ]:
## TA/INSTRUCTOR ONLY
## MARKS AWARDED: /1

### Q10. Reduce to Numerical Data

For K-means algorithm to work properly, your dataframe should only contain numeric datasets. Also, you decide to <b>exclude</b> (drop) the `int_round` and `income_tax` columns are similar to the other columns too. Store this dataframe as `loans_numeric_df`. 

**Expected Output:**

<img src="https://i.imgur.com/80Ccldn.png">

In [ ]:
## TA/INSTRUCTOR ONLY
## MARKS AWARDED: /1

### Q11. Select Optimal K - Elbow Plot

Plot the elbow plot by doing multiple iterations of the k-means algorithm, between a value of <b>2 to 15 (inclusive)</b>. Select a K that you think is appropriate to carry on in the next step. 

<b>Note: This will take about 2 minutes to compute finish all the Ks</b>

**Expected Output:**

<img src="https://i.imgur.com/VQfZN86.png">

In [ ]:
## TA/INSTRUCTOR ONLY
## PLOT MARK: /1

### Q12. K-Means Clustering with Optimal K - 2 Marks

Choose an <b>appropriate K</b> based on the chart above, then apply the k-means algorithm only once and store the model as `loans_kmeans`.

Make sure `random_state` is 0.

In [ ]:
## TA/INSTRUCTOR ONLY
## KMEANS MARK: /1
## SELECTING AN APPROPRIATE K - MARK: /1

### Q13. Set Labels

All loans are now tagged with a particular cluster or label. Using the `.labels_` attribute, create a new column called `label` to `all_loans_df`. 

**Expected Output:** (for k = 8) 

<img src="https://i.imgur.com/uKpialC.png">

In [ ]:
## TA/INSTRUCTOR ONLY
## MARKS AWARDED: /1

### Q14. Clustering Analysis

Now that you've labelled each loans, you want know the <b>proportion of default loans</b> within each cluster

**Expected Output:** (for k = 8) 

    label  target     
    0      Default        0.133062
           Non Default    0.866938
    1      Non Default    1.000000
    2      Default        0.090717
           Non Default    0.909283
    3      Default        0.055154
           Non Default    0.944846
    4      Default        0.090909
           Non Default    0.909091
    5      Default        0.078544
           Non Default    0.921456
    6      Default        0.062500
           Non Default    0.937500
    7      Default        0.113032
           Non Default    0.886968
    dtype: float64

In [ ]:
## TA/INSTRUCTOR ONLY
## MARKS AWARDED: /1

## Decision Tree Classifier - 3 marks

### Q15. Train Test Split

Similar to how you did `train_test_split` on the Decision Tree Classifier, conduct `train_test_split` on the `loans_numeric_df`, into 4 different variables, `x_train`, `x_test`, `y_train` and `y_test`, where: 

- <b>first</b> argument should be all columns but <b>without</b> the `target_int` column as a <b>DataFrame</b>
- <b>second</b> argument should <b>only</b> be the `target_int` column
- `random_state` is 0
- `test_size` is 0.2

In [ ]:
## TA/INSTRUCTOR ONLY
## MARKS AWARDED: /1

### Q16. Fit DecisionTree

Using the `DecisionTreeClassifier`, create a new Decision Tree by using `.fit()` with the `x_train` and `y_train` variables. Name this classifier as `loans_clf`. 

<b>Note: `random_state` should be `0`.</b>

In [ ]:
from sklearn import tree
loans_clf = tree.DecisionTreeClassifier(random_state=0)
loans_clf = loans_clf.fit(x_train, y_train)

In [ ]:
## TA/INSTRUCTOR ONLY
## MARKS AWARDED: /1

### Q17. Confusion Matrix

Plot the confusion matrix for the decision tree classifier by:

1. Using `.predict` on the `x_test` to get the test results
2. Use `sns.heatmap` to create confusion matrix
3. Set `.ylim()` to (2,0)
4. Set `.xlim()` to (0,2)

**Expected Output:**

<img src="https://i.imgur.com/JCRqzHp.png">

In [ ]:
## TA/INSTRUCTOR ONLY
## MARKS AWARDED: /1

## Performance Measures - 2 marks

### Q18. Accuracy & Precision

Based on the above confusion matrices, calculate, <b>with workings</b>, the <b>Accuracy and Precision</b> for the:

1. Naive Bayes Classifier
2. Decision Tree Classifier

In [ ]:
# NAIVE BAYES CLASSIFIER 
# Accuracy = 
# Precision = 

# DECISION TREE
# Accuracy = 
# Precision =

In [ ]:
## TA/INSTRUCTOR ONLY
## MARKS AWARDED: /1

### Q19. Model Assessment

After assessing the accuracy and precision scores, do you think that the models above are reliable in detecting default loans? Explain your answer.

In [ ]:
# Answer:

In [ ]:
## TA/INSTRUCTOR ONLY
## MARKS AWARDED: /1

<div class="alert alert-success">
<b>Checkpoint</b>: When you have completed, upload your progress to eLearn. eLearn only accepts the latest notebooks so if you have an existing notebook, your latest upload will <b>override</b> it.
</div>